.shadow-box-example {
  padding: 4rem;
}
/*align everything in the app to the middle*/
.App {
  text-align: center;
  position: relative;
}

/*padding for the top of the container*/

.top {
  padding: 3rem;
}

.next {
  margin-top: 3rem;
  padding: 2rem;
}

#format {
  padding: 2rem;
}

#type {
  padding: 2rem;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 50px;
}

.btn1 {
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding-left: -2rem;
  float: right;
}
